.stack {
  border: 1px solid black;
  list-style: none;
  padding: 5px;
  margin: 2px;
  width: 50px;
}

#over {
  position: absolute;
  z-index: 100;
  opacity: 0;
}

#under {
  position: absolute;
  z-index: 88;

}

